<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <ul>
        <% for (i = 0; i < recipes.length; i++) { %>
            <li><a href="/recipes/<%= recipes[i].id %>"><%= recipes[i].name %></a></li>
            <a href="/recipes/<%= recipes[i].id %>/edit">Edit</a>
            <form action="/recipes/<%= recipes[i].id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete">
            </form>
        <% } %>
    </ul>
    <a href="/recipes/new">Add Recipe</a>
    
</body>
</html>